﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka_history

@{
    string getstatuses = ViewData["getstatuses"].ToString();
    string gethistorysended = ViewData["gethistorysended"].ToString();
}

<script>
    function convertdate(date) {
        
        if (date.getFullYear() > 1900) {
            var f = {

                Y: date.getFullYear(),

                y: date.getFullYear() - (date.getFullYear() >= 2e3 ? 2e3 : 1900),

                m: date.getMonth() + 1,

                d: date.getDate(),

                H: date.getHours() < 10 ? "0" + date.getHours() : date.getHours(),

                M: date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes(),

                S: date.getSeconds()

            };
            var format = f.d + "/" + f.m + "/" + f.y + "   " + f.H + ":" + f.M;
            return format;
        }
        return 'Отклонена';
    }
    function gethistorystatuses(id,id_z) {
        $.ajax({
            type: "Post",
            url: '@getstatuses' + '?id=' + id + '&z_id=' + id_z,
            data: JSON.stringify(id),
            cache: false,
            success: function (data) {
                var table = $('#table1 tbody');
                var h;
                $('#table1 thead').remove();
                $('#table1 tbody tr').remove();
                $('#table1').prepend("<thead><th>Статус </th> <th> Пользователь </th> <th> Дата </th> </thead>");
                for (var h = 0; h < data[0].listStatus.length; h++) {
                 
                    var date = eval("new " + data[0].listStatus[h].date_change.slice(1, -1));
                    table.append("<tr> <td>"+data[0].listStatus[h].status+"</td>"+"<td>"+data[0].listStatus[h].login+"</td>"+"<td>"+convertdate(date)+"</td> </tr>");
                }
                $('#notif').attr('title', 'История Статусов');
                $('#notif').dialog({
                    height: 300,
                    width: 450,

                });
            }
        }
       )
    }




    function gethistorysended(id, id_z) {
        $.ajax({
            type: "Post",
            url: '@gethistorysended' + '?id=' + id + '&z_id=' + id_z,
            data: JSON.stringify(id),
            cache: false,
            success: function (data) {
                var table = $('#table1 tbody');
                var h;
                $('#table1 thead').remove();
                $('#table1 tbody tr').remove();
                $('#table1').prepend("<thead><th> Пользователь </th> <th> Дата </th> <th> Пользователю </th> <th> Роли </th> <th> Дата получения </th> </thead>");
                for (var h = 0; h < data[0].listsend.length; h++) {

                    var date = eval("new " + data[0].listsend[h].date_set.slice(1, -1));
                    var date2 = eval("new " + data[0].listsend[h].date_get.slice(1, -1));
                  
                    table.append("<tr> <td>" + data[0].listsend[h].login + "</td>" + "<td>" + convertdate(date) + "</td>" + "<td>" + data[0].listsend[h].touser + "</td>" + "<td>" + data[0].listsend[h].torole + "</td>" + "<td>" +convertdate(date2)  + "</td> </tr>");
                }
                $('#notif').attr('title', 'История Передач');
                $('#notif').dialog({
                    height: 350,
                    width: 550,

                });
            }
        }
       )
    }
</script>
<table class="table">
    <thread>
        <th>Состояние</th>
        <th> Дата начала </th>
        <th>Пользователь</th>
        <th>Дата завершения </th>
          <th>Пользователь</th>
        <th> Информация по статусам </th>
        <th>Информация по передачам ТП </th>
    </thread>
    <tbody>
        @foreach (sostoinie_history z in Model.list)
        {
            <tr>
                <td>@z.sostoinie</td>
                <td>@z.begin.ToString()</td>
                <td>@z.user_set </td>
                <td>@z.end.ToString() </td>
                <td>@z.user_end </td>
                <td><a  href="javascript:gethistorystatuses('@z.ID','@Model.id')">История статусов</a> </td>
                <td><a  href="javascript:gethistorysended('@z.ID','@Model.id')">История изменения пользователей</a> </td>
            </tr>
        }


    </tbody>
    </table>
<div id="notif" style="overflow:auto;height:200px;" >
    <table id="table1" class="table">
        
        <tbody></tbody>
    </table>
</div>