﻿
@using tp.ServiceReference1
@using tp.Controllers
@using tp.special;

 @Styles.Render("~/Content/jquery-ui.css") 
@Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")
@Scripts.Render("~/Scripts/anim.js")
<script>
  $(function() {
      $("#datepicker1").datepicker({ dateFormat: 'dd-MM-yy' });
      $("#datepicker2").datepicker({ dateFormat: 'dd-MM-yy' });
  });
  </script>
    @{
        string massjavascript = "";
                }

@model List<zaivka_history>
@{
    tp.Models.findObject find = ViewData["findobject"] as tp.Models.findObject;
}
  @Html.Partial("_Find", find, new ViewDataDictionary { { "way",Url.Action("find","HistoryZaivok") }, { "action", "find" }
    ,{"issostoinie",true},{"iskategorii",true},{"isstate",true}
})
     
@if (Model != null)
{
<table class="table">
    <thread>
        <th>Схема</th>
        <th> Дата создания </th>
        <th>Пользователь</th>
        <th>Дата завершения </th>
          <th>Пользователь</th>
        <th> Подробности </th>
    </thread>
    <tbody>
        @foreach (zaivka_history notif in Model)
        {
        
            <tr>
                <td>@notif.schema</td>
                <td>
                    @notif.begin.ToString()
                </td>
                 <td>@notif.user_set</td>
                <td>  @notif.end.ToString() </td>
                 <td>@notif.user_end</td>
                <td>  @Html.ActionLink("Подробно", "historysostoinii", new { id = notif.id })</td>
            </tr>
        }
    </tbody>
</table>
}
@{
    
   
     
    if ((int)Html.ViewData["preview"] != -1)
    {
      @Html.link("preview", "preview","HistoryZaivok", "Index", Request, (int)Html.ViewData["preview"]);
//@Html.ActionLink("preview", s, new { PageNum = (int)Html.ViewData["preview"] }, new { id = "preview" });
 @Html.Raw("&nbsp;");
    }
    if ((int)Html.ViewData["next"] != -1)
    {
            @Html.link("next", "next","HistoryZaivok",  "Index", Request, (int)Html.ViewData["next"]);

}

}
 