﻿
<script>
    function getdetail(login) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("getuser","Home")' + '?login='+login,
           
            cache: false,
            success: function (data) {

                $("#roles").empty();
                $("#login").val(data.login);
                $("#fio").val(data.fio);
                for (var n = 0;n< data.roles.length; n++) {
                    $("#roles").prepend("<option>" + data.roles[n] + "</option>");
                }

                $('#DetailUser').dialog({
                    height: 150,
                    width: 350,

                });
            }
        }
           )
    }
</script>
<div style="display:none" id="DetailUser">
    <table>
        <tr>
            <td>Логин</td>
            <td><input id="login"/></td>
           
        </tr>
        <tr>
            <td>ФИО</td>
             <td> <input id="fio" /></td>
        </tr>
        <tr>
            <td>Роли</td>
          <td>  <select id="roles"></select> </td>
        </tr>
    </table>
</div>
