﻿@using tp.ServiceReference1
@using tp.Controllers
@using tp.special;
@model tp.Models.findObject

@{
    string mass = "";
    if (Model.shem_sostoinii!=null)
    {
     mass = "{ ";

    foreach (shemsost sch in Model.shem_sostoinii)
    {
        mass += "  " + sch.key.Replace(" ", "") + ": [ '" + sch.value[0] + "' ";
        for (int n = 1; n < sch.value.Count; n++)
        {
            mass += ",'" + sch.value[n] + "'";
        }
        mass += " ],";

    }
    mass = mass.Substring(0, mass.Length - 1) + "}";
    }
}

<script> 
    function settime(idelem, value) {
        $("#"+idelem).datepicker({
            dateFormat: 'dd.mm.yy'
        });
        $("#"+idelem).datepicker("setDate", value);
    }
</script>

             <button id='animfind'>Показать/Скрыть</button> 
<div id='find' style="display:none">
                  <form action='@ViewData["way"]' method='post' >   <input type='hidden' name='action' value='@ViewData["action"]'/> 
                      <table style=' border: 1px solid;  border-radius: 10px; margin-left: 3px'>
 @if (ViewData["issostoinie"] == null)
                            {
            <tr>
             @if (Model.param.sost_value != null)
             {
                  <td> <input name='sost' type='checkbox' checked  /> По состоянию </td>
            
             }
             else
             {
                     <td> <input name='sost' type='checkbox'   /> По состоянию </td>
         
                 
             }
                <td><select name="sost_value" id="sost_value"></select></td>
                 </tr>
 }
                           @if (ViewData["iskategorii"] == null)
                            {
                           <tr>
                    @if (Model.param.kategorii_value != null)
                    {
                  <td> <input name='kategorii' type='checkbox' checked  /> По категории </td>
          
                    }
                    else
                    {
                     <td> <input name='kategorii' type='checkbox'   /> По категории </td>
              
                    }
                      <td>@Html.listuser(Model.kategorii, Model.param.kategorii_value, "kategorii_value") </td>
               </tr>
                           }
                           @if (ViewData["isstate"] == null)
                            {
                 <tr>
                    @if (Model.param.state_value != null)
                    {
                  <td> <input name='state' type='checkbox' checked  /> По статусу </td>
          
                    }
                    else
                    {
                     <td> <input name='state' type='checkbox'   /> По статусу </td>
              
                    }
                      <td>@Html.listuser(Model.states, Model.param.state_value, "state_value") </td>
               </tr>
                           }
                           @if (ViewData["isschems"] == null)
                            {
                 <tr>
                    @if (Model.param.schem_value != null)
                    {
                  <td> <input name='schem' type='checkbox' checked  /> По схеме </td>
            
                    }
                    else
                    {
                     <td> <input name='schem' type='checkbox'   /> По схеме </td>
               
                    }
                      <td>@Html.listuser(Model.schems, Model.param.schem_value, "schem_value") </td>
                   
          </tr>
                           }
                            @if (ViewData["isusers"] == null)
                            {
                          <tr>
                           @if (Model.param.user_value != null)
                           {
                  <td> <input name='users' type='checkbox' checked  /> По пользователям </td>
            
                           }
                           else
                           {
                     <td> <input name='users' type='checkbox'   /> По пользователям </td>
               
                           }
                      <td> @Html.listuser(Model.users, Model.param.user_value, "user_value") </td>
          </tr>
                            }

                           @if (ViewData["isusersend"] == null)
                            {
                          <tr>
                           @if (Model.param.user_end != null)
                           {
                  <td> <input name='usersend' type='checkbox' checked  /> По последнему пользователю </td>
            
                           }
                           else
                           {
                     <td> <input name='usersend' type='checkbox'   /> По последнему пользователю </td>
               
                           }
                      <td> @Html.listuser(Model.users, Model.param.user_end, "userend_value") </td>
          </tr>
                            }


                           @if (ViewData["isdate"] == null)
                            {
 <tr>
     
@if (Model.param.begin != DateTime.MinValue)
{
    <td> <input name='isdate' type='checkbox' checked  /> По Дате создания </td>
    
   
    
    <script>
        $(document).ready(function () {
            settime('begin', '@Model.param.begin.Date.ToString("dd/MM/yy")');
            settime('end', '@Model.param.end.Date.ToString("dd/MM/yy")');
        }
        )
    </script>
}
else
{
     <td> <input name='isdate' type='checkbox'   /> По Дате создания </td>
      <script>
          $(document).ready(function () {
              settime('begin', '');
            settime('end', '');
        }
        )
    </script>
}
     <td> От <input type="text" name="begin" id="begin"  /> До <input type="text" name="end" id="end"  /> </td>
   </tr>
                           }







  @if (ViewData["iscontrol"] != null)
  {
<tr>
  
    <td colspan="2">
        @if (Model.param.iscontrol == true)
        {
        <input type="checkbox"   name="iscontrol" checked />
        }
        else
        {
            <input type="checkbox"  name="iscontrol"  />  
        }
   Под контролем </td>
</tr>
  }
              <tr> 
                  <td colspan='2' style='text-align: center'> <button type='submit'>Поиск</button> 

                  </td>

              </tr> 

                      </table> <br /> 

                  </form> 

</div>
@if (mass!="")
{
       <script>
           var mass = @( Html.Raw(mass))
           function setnewsostoinii(list,value) {
               var $el = $("#sost_value");
               $el.empty();
               for (var n = 0; n < list.length; n++) {

                   if (list[n]==value)
                       $el.append("<option selected='selected'>" + list[n] + "</option>");
                   else
                       $el.append("<option >" + list[n] + "</option>");
               }
           }
           $(document).ready(function () {
              
        
               setnewsostoinii(mass[$("#schem_value option:selected").text().replace(/\s+/g, '')], '@(Model.param.sost_value)');

                   $("#schem_value").change(function () {

                       setnewsostoinii(mass[$("#schem_value option:selected").text().replace(/\s+/g, '')], mass[$("#schem_value option:selected").text().replace(/\s+/g, '')][0]);
                   });
               })

        
    
</script>
}