﻿@{
    bool script = Convert.ToBoolean( ViewData["script"]);
    Dictionary<string,string> list;
 
        list = ViewData["ClassSelector"] as Dictionary<string,string>;
        string value = ViewData["value"].ToString();
        List<string> actions = (List<string>)ViewData["actions"]; 
        string idinput = ViewData["idinput"].ToString();
        string classselector = idinput + "ClassSelector";
        string display = ViewData["displayvalue"].ToString();
        string isvisible = ViewData["visibleClass"].ToString();
        string servername = "/"+ViewData["servername"].ToString()+"/inmeta/";
        string ajaxcallbackController = ViewData["ajaxcallbackController"].ToString();
         string ajaxcallbackAction = ViewData["ajaxcallbackAction"].ToString();
      display=  display.Replace("\"", "").Replace(@"\", "");
        
}
@if (script==true)
{
    <script type="text/javascript">
        function sendajax(txt) {
            $.ajax({
                type: "Post",
                url:"@Url.Action(ajaxcallbackAction,ajaxcallbackController)"+"?key="+encodeURIComponent('@(idinput)')+"&txt=" + encodeURIComponent(txt), success: function (result) {

                    location.reload();

                }
            }
            );
        }
    </script>
<script type="text/javascript" language="javascript">document.bgColor = '#EEEEEE';</script><script language="VBScript">
option explicit
const INMETA_PATH ="@servername"
sub DataObjectBoxAction(byval controlId, byval action)
dim className, objectId, selector, objectRef, result

set selector = document.all(controlId+ "ClassSelector")
set objectRef = Form1(controlId)
if (Len(objectRef.value) > 0) then
	objectId = Left(objectRef.value, 12)
	className = Right(objectRef.value, Len(objectRef.value) - 13)
end if
select case action
	case "clear"
		objectRef.value = ""
     sendajax("")
	
	case "select"
		result = ShowModalDialog(INMETA_PATH & "object_list_form.asp?class=" & selector.value, _
			"modal", "center:yes; help:no; resizable:yes; status:yes; dialogWidth:800px; dialogHeight: 600px;")
	case "create"
		if (className = selector.value) and (Len(objectId) > 0) then
			result = ShowModalDialog(INMETA_PATH & "object_data_form.asp?class=" & className & "&id=" & objectId, _
				"modal", "dialogWidth:800px; dialogHeight: 600px; center:yes; help:no; resizable:yes; status:no")
		else
			result = ShowModalDialog(INMETA_PATH & "object_data_form.asp?class=" & selector.value, _
				"modal", "dialogWidth:800px; dialogHeight: 600px; center:yes; help:no; resizable:yes; status:no")
		end if
end select
if not IsEmpty(result) and not IsNull(result)  then
	
     sendajax(result & ":" & selector.value)
end if
   
end sub
</script>
}
  
<div>
 
	<input type="hidden" name="@(idinput)" id="@(idinput)" value="@(value)" />
    <select name='@classselector' style="display:@isvisible">
            @foreach (KeyValuePair<string,string> s in list)
    {
    
                <option value='@s.Key'>
								@s.Value
							</option>
    }
							

<input  value="@(display)" />
</div>

@if(actions==null)
{
if (value != "")
{
    <span onclick="javascript:DataObjectBoxAction('@(idinput)', 'create');" style="cursor:hand;color:blue;">Редактировать</span>

}
 <span onclick="javascript:DataObjectBoxAction('@(idinput)', 'select');" style="cursor:hand;color:blue;">Выбрать</span>  
if (value != "")
{
     <span onclick="javascript:DataObjectBoxAction('@(idinput)', 'clear');" style="cursor:hand;color:blue;">Очистить</span>
     
     }
  }
else
{
    if (!actions.Exists(m => m == "Выбрать"))
    {
        <span onclick="javascript:DataObjectBoxAction('@(idinput)', 'select');" style="cursor:hand;color:blue;">Выбрать</span>
    }
    if ((!actions.Exists(m => m == "Редактировать")) && (value != ""))
    {

        <span onclick="javascript:DataObjectBoxAction('@(idinput)', 'create');" style="cursor:hand;color:blue;">Редактировать</span>

    }
    if ((!actions.Exists(m => m == "Создать")) && (value == ""))
    {
        
        <span onclick="javascript:DataObjectBoxAction('@(idinput)', 'create');" style="cursor:hand;color:blue;">Создать</span>
    }
    if ((!actions.Exists(m => m == "Очистить")) && (value != ""))
    {
 
        <span onclick="javascript:DataObjectBoxAction('@(idinput)', 'clear');" style="cursor:hand;color:blue;">Очистить</span>

    }
}  

 

