﻿<!DOCTYPE html>
<html>
<head>
  
    <meta charset="Windows-1251" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
      @Styles.Render("~/Content/jquery.toastmessage-min.css")
    @Scripts.Render("~/Scripts/jquery-1.8.2.js")
         @Scripts.Render("~/Scripts/jquery.signalR-1.1.3.min.js")
@Scripts.Render("~/SignalR/Hubs")
  @Scripts.Render("~/Scripts/events.js")
@Scripts.Render("~/Scripts/notification.js")
   @Scripts.Render("~/Scripts/jquery.toastmessage-min.js")
@Scripts.Render("~/Scripts/all.js")


     @Styles.Render("~/Content/jquery-ui.css") 
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>
    
    <script type="text/javascript">
        var currenturl = '@Url.Action("", "Utils/notification.svc")'
        
        var Parenturl = '@Url.Action("", "")';

        var hnotification = new notification();
        hnotification.addEvent(function (h) {
            var count = $("#notificationcount").text();
            count++;
            $("#notificationcount").text(count);
            var textshow;
            switch (h.type) {
                case "status":
                    textshow = "Изменен статус";
                    break;
                case "sendtouser":
                    textshow = "ТП отослан пользователю";
                    break;
                case "sendedtouser":
                    textshow = "Пользователь принял ТП";
                    break;
            }
            var hrefdetail='@Url.Action("detail", "Detail")'
            $().toastmessage('showToast', {
                text: '<p style="font:bold italic 110% serif;margin-left:0;">' + textshow + '</p>'+ '<p style="margin-left:0;"><a style="font:bold italic 150% serif;" href="' + hrefdetail + '?number=' + h.z_id + '">Открыть ТП</a></p>',
                sticky: true,
                position: 'top-right',
                type: 'success',
                closeText: '',
                close: function () {
                    console.log("toast is closed ...");
                }
            });
        }
        );
    </script>
 @{
     Html.RenderPartial("_DetailUser");

 }


        
    <div id="login_div">
        <div style="float:left;  padding:.6em; font-size:1.5em;">
Технологические процессы

        </div>
        <div style="margin:0.6em;padding:0.6em;background-color:#555;float:right;">
        <ul>
            @{
                string user = tp.special.Auth.get_user().login;
                List<tp.ServiceReference1.Notification_to_user> list;
                tp.ServiceReference1.PublisherServiceClient client = tp.special.Auth.get_client();
                client.get_Notifications_user(tp.special.Auth.get_user(), out list);
            bool isboss=    client.isboss(user);
             
            }
   
       @if (isboss == true)
       {
           <li > @Html.ActionLink("Уведомления","Index","Notification") (<a id="notificationcount">@list.Where(n=>n.isnew==true).ToList().Count.ToString()</a>)</li>
       }
       <li>Добро пожаловать:@user      @Html.ActionLink("Выйти", "Logoff", "Auth")</li>
   
          
   
                </ul>
            </div>
            </div>
        
   
    
       <ul class="solidblockmenu1">
            <li>
                @Html.ActionLink("Технические процессы", "Index", "Home")
            </li>
          @if (isboss)
          {
<li>@Html.ActionLink("Контроль","control","Home")</li>
              <li>@Html.ActionLink("История ТП","Index","HistoryZaivok")</li>
          }
      <li>@Html.ActionLink("Статистика","Index","Statistic")</li>      
        </ul>

    @RenderBody()

  
  
</body>
</html>
