﻿@{
    Layout = null;
    string text = ViewData["error_text"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2> @text</h2>
        
    </hgroup>
   @Html.ActionLink("На главную", "Index", "Home")
    @Html.ActionLink("Выйти", "Logoff", "Auth")
</body>
</html>