﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using tp.ServiceReference1
@using tp.Controllers
@using tp.special;

@{
    
}
<table id="table" class="table">
    <thead>
        <th>Прочитано</th>
        <th>Заявка</th>
          <th>Тип</th>
          <th>Текст</th>
     
          <th>Дата</th>
          <th>Удалить</th>
        </thead>
    <tbody>
      @foreach (Notification_to_user one in TempData["notifications"] as List<tp.ServiceReference1.Notification_to_user>)
      {
          <tr id="@one.id" >
              <td id='@one.id notification' valign="middle"> 

                  @if (one.isnew == true)
                  {
                      <a  href="javascript:setNotificationused('@one.id')">Прочитан</a>
                  }
                  else
                  {
                  <div style='background: url( @Url.Action("","")Content/success.png);height:30px;width:32px;margin:auto;'> </div>
                  }
              </td>
              <td>@Html.ActionLink("Заявка", "detail", "Detail", new { number = one.z_id }, new { target = "_blank" })</td>
              <td>@one.type</td>
              <td>@one.text</td>
          
              <td>@one.date.ToShortDateString()</td>
              <td><a href="javascript:removenotification('@one.id')">Удалить</a></td>
          </tr>
      }
    </tbody>
</table>
<script>
    var currenturl = '@Url.Action("", "Utils/notification.svc")'
    function removenotification(id) {
        $.ajax({
            type: "Post",
            url: currenturl + '/removenotification/' + id,
            data:JSON.stringify(id),
            cache:false,
            success: function (data)
            {
                var target = $('#table tr[id=' + id + '] td');
                var yty = $('#table tr[id=' + id + '] td div');
                if ($('#table tr[id=' + id + '] td div').length == 0) {
                    var count = $("#notificationcount").text();
                    count--;
                    $("#notificationcount").text(count);
                }

                target.fadeOut(1000, function () { target.remove(); });
                
            }
        }
        )
    }


    function setNotificationused(id) {
        $.ajax({
            type: "post",
            url: currenturl + '/setNotificationused/' + id,
            cache: false,
            success: function (data) {
                var target = $('#table tr[id=' + id + '] td:first-child');
                target.empty();
                target.append("<div style='background: url(" + Parenturl + "Content/success.png);height:30px;width:30px;margin:auto;'> </div>");
                var count = $("#notificationcount").text();
                count--;
                $("#notificationcount").text(count);
            }
        })
    }
</script>