﻿@using tp.ServiceReference1
@using tp.Controllers
@using tp.special;
@model tp.Models.findObject
@Scripts.Render("~/Scripts/anim.js")
@Scripts.Render("~/Scripts/jquery.jqplot.min.js")
@Scripts.Render("~/Scripts/Plugins/jqplot.highlighter.min.js")
@Scripts.Render("~/Scripts/Plugins/jqplot.cursor.min.js")
@Scripts.Render("~/Scripts/Plugins/jqplot.dateAxisRenderer.min.js")
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="~/Scripts/excanvas.js"></script><![endif]-->
@{
   
    string mass = "{ ";
  
    foreach(shemsost sch in Model.shem_sostoinii)
    {
        mass += "  "+sch.key.Replace(" ","")+ ": [ '"+sch.value[0]+"' ";
        for (int n = 1; n < sch.value.Count; n++)
        {
            mass += ",'" + sch.value[n] + "'";
        }
        mass += " ],";
            
    }
  mass=  mass.Substring(0, mass.Length - 1)+"}";

}
@{
    List<dicttime> list_h = TempData["statistic"] as List<dicttime>;
    string massstatistic = "[[ ";
    if (list_h != null)
    {
    foreach (dicttime sch in list_h)
    {
        if (massstatistic != "[[ ")
        {
        massstatistic += "  ,[" + sch.number + ", " + sch.timeminute + " ] ";
        }
        else
        {
           
            massstatistic += "  [" + sch.number + ", " + sch.timeminute + " ] ";
        }  

    }
    }
    massstatistic += "  ]]";
}



             <button id='animfind'>Показать/Скрыть</button> 
<div id='find' style="display:none">
                  <form action='@Url.Action("StatisticSotoinie","Statistic")' method='post' >   
                      <table style=' border: 1px solid;  border-radius: 10px; margin-left: 3px'>
           
                          
                
                 <tr>
                    @if (Model.param.schem_value != null)
             {
                  <td> <input name='schem' type='checkbox' checked  /> По схеме </td>
            
             }
                 else
                 {
                     <td> <input name='schem' type='checkbox'   /> По схеме </td>
               
             }
                      <td>@Html.listuser(Model.schems,Model.param.schem_value,"schem_value") </td>
                   
          </tr>
                   
                          <tr>
                           @if (Model.param.user_value != null)
             {
                  <td> <input name='users' type='checkbox' checked  /> По пользователям </td>
            
             }
                 else
                 {
                     <td> <input name='users' type='checkbox'   /> По пользователям </td>
               
             }
                      <td> @Html.listuser(Model.users,Model.param.user_value,"user_value") </td>
          </tr>
                     <tr>
             @if (Model.param.sost_value!=null)
             {
                  <td> <input name='sost' type='checkbox' checked  /> По состоянию </td>
            
             }
                 else
                 {
                     <td> <input name='sost' type='checkbox'   /> По состоянию </td>
         
                 
             }
                <td><select name="sost_value" id="sost_value"></select></td>
                 </tr>
  
              <tr> 
                  <td colspan='2' style='text-align: center'> <button type='submit'>Вывод</button> 

                  </td>

              </tr> 

                      </table> <br /> 

                  </form> 

</div>
<div name="grafic" id="grafic"></div>
<script>
    $(function(){
        var hhh=@massstatistic ;
        if (hhh[0].length!=0)
            var help=  $.jqplot("grafic", hhh,{  highlighter: {
                show: true,
                sizeAdjust: 7.5,
                tooltipContentEditor: function (str, seriesIndex, pointIndex, plot) {
                    var number = plot.data[seriesIndex][pointIndex][0];
                    var minute = plot.data[seriesIndex][pointIndex][1];
                    var revenue = plot.data[0][pointIndex][1];

                    var help=  (minute / (60 * 24) | 0)+" д ;";
                    help += ((minute % (60 * 24)) / 60 | 0) + " ч ;";
                    help += ((minute % (60 * 24)) % 60) + "  мин ;";
                   

                    
                    var html = "<div>  Время : ";
                    html += help;
                    html += "  <br>Номер : ";
                    html += number;
                   
                    html += "  </div>";
                
                    return html;
                }




            }, cursor: {
                show: false
            },
                axes: {
                    // options for each axis are specified in seperate option objects.
                    xaxis: {
                       
                        // Turn off "padding".  This will allow data point to lie on the
                        // edges of the grid.  Default padding is 1.2 and will keep all
                        // points inside the bounds of the grid.
                        pad: 0,
                        numberTicks:1
                    },
                   
                    yaxis: {
                        pad: 0
                    }
                }
            }
                );
        
    });

</script>
       <script>
           var mass = @( Html.Raw(mass))
           function setnewsostoinii(list,value) {
               var $el = $("#sost_value");
               $el.empty();
               for (var n = 0; n < list.length; n++) {

                   if (list[n]==value)
                       $el.append("<option selected='selected'>" + list[n] + "</option>");
                   else
                       $el.append("<option >" + list[n] + "</option>");
               }
           }
           $(document).ready(function () {
              
        
               setnewsostoinii(mass[$("#schem_value option:selected").text().replace(/\s+/g, '')], '@(Model.param.sost_value)');

                   $("#schem_value").change(function () {

                       setnewsostoinii(mass[$("#schem_value option:selected").text().replace(/\s+/g, '')], mass[$("#schem_value option:selected").text().replace(/\s+/g, '')][0]);
                   });
               })

        
    
</script>
