﻿@using tp.ServiceReference1
@model tp.ServiceReference1.zaivka


<form action="~/Detail/Change" method="post" style="height:100%">
       <textarea style="visibility:hidden" name="id_zaivki" >@Model.id</textarea>
    @if ((bool)ViewData["is_take"]==true)
    {
    <button type="submit" name="take_zaivka">Принять заявку</button>
    }
    else
    {
        
    if ((bool)ViewData["is_back"] == true)
    {
        <button type="submit" name="take_back">Отменить передачу</button>
    }
    else
                {
          if (Model.current_login==tp.special.Auth.get_user().login)
            {
                       <table  >
                           <tbody>
                                @if ((bool)ViewData["CanChangeStatus"] == true)
                                {
                               <tr>
                                   <td style="width:1px">Статус</td>
                                   <td  style="width:1px">
                                       <select name="status_value">
                                           @{
                                               List<string> list=(List<string>) ViewData["statuses"];
                                               }
                                         @foreach (string s in list)
                                         {
                                             if (s==Model.current_status)
                                             {
                                               <option selected="selected">@s</option>
                                         }
                                               else
                                               {
                                               <option>@s</option>
                                             }
                                         }
                                           
                                           
                                       </select>

                                   </td>
                                   <td valign="BOTTOM" align="RIGHT"><button name="status"  type="submit">Сменить статус</button></td>
                               </tr>
                                }
                                @if ((bool)ViewData["CanSendToOther"] == true)
                                {
                                    <tr>
                                        <td> Передать </td>
                                        <td> <select name="user_send_role">
                                             @{
                                               List<string> list2=(List<string>) ViewData["role_list"];
                                               }
                                             @foreach (string s1 in list2)
                                           {
                                               <option>@s1</option>
                                           }
                                       </select> </td>
                                         <td  valign="BOTTOM" align="RIGHT"><button type="submit" name="send_to_role" style="margin-bottom:0px;margin-right:0px;">Передать</button></td>
                                    </tr>
                               <tr>
                                   <td>
                                       Передать
                                   </td>
                                   <td>
                                       <select name="user_send">
                                             @{
                                               List<string> list1=(List<string>) ViewData["user_list"];
                                               }
                                             @foreach (string s1 in list1)
                                           {
                                               <option>@s1</option>
                                           }
                                       </select>
                                   </td>
                                   <td  valign="BOTTOM" align="RIGHT"><button type="submit" name="send" style="margin-bottom:0px;margin-right:0px;">Передать</button></td>
                               </tr>
                                }
                           </tbody>
                       </table>
          }
     }
    }
            
                           </form>
