﻿  
<script src="http://maps.kosmosnimki.ru/api/apil.js?key=U92596WMIH" charset="windows-1251"></script>
@model tp.ServiceReference1.zaivka
<div id="map" style="height: 100%; width: 100%">

  
    


</div>
@{
  
    string id = (Model.fields["key"]==null) ? "": Model.fields["key"].value;
}
<script>
   
    $(document).ready(function () {
        $('#save').click(function () {
            var help = $("#id");
            var name = $("#id")[0].value;
            

            $.ajax({
                url: "/Detail/Save?type=" + encodeURIComponent( name)
            })
        }
        )
    }
    )




   
    createFlashMap(document.getElementById("map"), "maps.kosmosnimki.ru", "7VKHM", function (map) {
        map.moveTo(37.599248, 55.7751, 15);
        map.layers["выходы_метро"].setVisible(true);
        map.layers["выходы_метро"].enableHoverBalloon(function (o) { return "<div style='font-size:11px; color: #213570; font-family:sans-serif;'><a href=/Detail/accerd?number=" +o.properties.ID +">Перейти</a></div>" });
        if (map.miniMap) map.miniMap.setVisible(false);
        map.minimizeTools(); map.coordinates.setVisible(false);
        map.scaleBar.setVisible(false);
        var func = function (features) {
            for (var i = 0; i < features.length; i++)
            {
                var h = features[i].geometry;

                var balloon = map.addBalloon();
                balloon.setPoint(h.coordinates[0], h.coordinates[1]);
                balloon.div.innerHTML = "Текущий объект";
                map.moveTo(h.coordinates[0], h.coordinates[1], 15)
            }
        };
       
        var str ='ID=\''+'@(id)'+'\'';
      
        if (str!="")
        map.layers["выходы_метро"].getFeatures(func, null, str);
    });
  

   
    
</script>