﻿@{
    Dictionary<string, string> list = ViewData["form"] as Dictionary<string, string>;
    string hh = "/Detail/setValue?number=" + Model.id;
}
<script type="text/javascript" language="javascript">document.bgColor = '#EEEEEE';</script><script language="VBScript">
option explicit
const INMETA_PATH = "/GradVisionIsogd/inmeta/"
sub DataObjectBoxAction(byval controlId, byval action)
dim className, objectId, selector, objectRef, result
 
set selector = document.all(controlId+ "ClassSelector")
set objectRef = Form1(controlId)
if (Len(objectRef.value) > 0) then
	objectId = Left(objectRef.value, 12)
	className = Right(objectRef.value, Len(objectRef.value) - 13)
end if
select case action
	case "clear"
		objectRef.value = ""
		Form1.submit
	case "select"
		result = ShowModalDialog("http://localhost/GradVisionIsogd/inmeta/object_list_form.asp?class=" & selector.value, _
			"modal", "center:yes; help:no; resizable:yes; status:yes; dialogWidth:800px; dialogHeight: 600px;")
	case "create"
		if (className = selector.value) and (Len(objectId) > 0) then
			result = ShowModalDialog(INMETA_PATH & "object_data_form.asp?class=" & className & "&id=" & objectId, _
				"modal", "dialogWidth:800px; dialogHeight: 600px; center:yes; help:no; resizable:yes; status:no")
		else
			result = ShowModalDialog(INMETA_PATH & "object_data_form.asp?class=" & selector.value, _
				"modal", "dialogWidth:800px; dialogHeight: 600px; center:yes; help:no; resizable:yes; status:no")
		end if
end select
if not IsEmpty(result) and not IsNull(result) then
	objectRef.value = result & ":" & selector.value
	Form1.submit
end if
end sub
</script>

 <form action="/Detail/setValue" method="post" id="Form1" name="Form1">
<div>
 
	<input type="hidden" name="f0" id="f0" value="" />

				<input name="f0ClassSelector" value="Subject/Org" style="display:none;"/>
    @if (list!=null)
    {
<input  value= @list["f0value"]  />
    }
    else
    {
       <input   /> 
    }
</div>


<span onclick="javascript:DataObjectBoxAction('f0', 'select');" style="color:blue;">Выбрать</span>
 </form>

