﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;

@model tp.ServiceReference1.zaivka
@{
    string user=tp.special.Auth.get_user().login;
}


<style>
    p
    {
        text-shadow:3px 3px 5px #665;
    }
    .help
    {
        border-radius:5px;
        border:2px solid grey;
    }
  
        .help ul
        {
            margin-top:0px;
       
           border-bottom:1px solid #665;
list-style: none;
        }
   

    
</style>
@{
    Dictionary<string, string> dicttt = new Dictionary<string, string>();
    dicttt.Add("заявление", "заявление");
    dicttt.Add("ПодготовкаРазрешения", "ПодготовкаРазрешения");
    dicttt.Add("КомплектДокументов", "КомплектДокументов");
    dicttt.Add("Отказ", "Отказ");
    string ff = Html.IngeoUl(dicttt, "", Model).ToString();
    @Html.Raw(ff);
}
<table border="1" 
     cellpadding="4" cellspacing="0" style="min-height:400px;   float:left;width:100%;height:75%;position:relative;">
    <tr style="height:80%"> 
     <td align="left" valign="top" rowspan="2" bgcolor="#FBF0DB" style="width:25%;height:20%;"> <ul class="detailul">
        <li>Пользователь:    @Model.current_login</li>
        <li>Состояние:       @Model.state_name</li>
        <li>Статус: @Model.current_status</li>
        <li>Схема:           @Model.schema</li>
           <li>В состоянии:           @vspomogatelnii.ConvertToDatetime(Model.minute_sostoine) </li>
          <li>В статусе:           @vspomogatelnii.ConvertToDatetime(Model.minute_status) </li>
         <li>@Html.ActionLink("История", "getzaivkaactualhistory", "HistoryZaivok", new { id = Model.id }, new { target = "_blank" })</li>
    </ul></td>
     <td align="left" valign="top" style="height:80%">  @if ((Model.current_login==user) && (Model.new_logins.Count==0))
          {  
    if (ViewData["_Partialdetail"] != "")
    {
        try
        {
            string hh = (string)ViewData["_Partialdetail"];
           Html.RenderPartial((string)ViewData["_Partialdetail"],Model);
            
               
        }
        catch
        {
        }
    }
     }</td>
    </tr>
    <tr style="height:20%"> 
     <td align="left" valign="top">
         <div style="height:100%;width:100%">
        
               
           
        @Html.Partial("_Change-status", Model)
            
              
                
    
  
        </div></td>
    </tr>
   </table>
@Html.ActionLink("next", "send", "detail", new {id_zaivki=Model.id }, new { target = "_blank" })

              

                   
  
