﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@Scripts.Render("~/Scripts/control.js")
@Scripts.Render("~/Scripts/anim.js")
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
@{
    tp.Models.findObject ff = ViewData["filter"] as tp.Models.findObject;

}
@model List<zaivkaControl>



 
       @Html.Partial("_Find", ff, new ViewDataDictionary { { "way", "filter" }, { "action", "control" },{"iscontrol",true},{"isusers",new object() },{"isusersend",true} })

<table id="table" class="table">
    <thead>
    
    <th>Состояние</th>
       
    <th>Схема</th>
         <th>Статус</th>
        <th>Пользователь</th>
     <th>Подробно</th>
        <th>Контроль</th>
    </thead>
@foreach (zaivkaControl z in Model)
{
     <tr id=@z.id>
           
            <td > @z.state_name</td>
            
            <td>@z.schema</td>
            <td>@z.current_status</td>
            <td><a href="javascript:getdetail('@z.current_login')">@z.current_login</a> </td>
          <td>@Html.ActionLink("Подробно", "detail", "Detail", new { number = z.id }, new { target = "_blank" })</td>
        @if (z.iscontrol==true)
        {
            <td> <input zaivkaid=@z.id class="iscontrol" type="checkbox" checked="checked" /></td>
        }
         else
         {
         <td> <input zaivkaid=@z.id class="iscontrol" type="checkbox" /></td>
        }
        </tr>
}
    </table>
    @{
    string s;
    if (ViewData["type"] == "all")
    {
        //Index
        s = "Home";

    }
    else
    {
        s = "control";
    }
     
    if ((int)Html.ViewData["preview"] != -1)
    {
      @Html.link("preview", "preview","Home", s, Request, (int)Html.ViewData["preview"]);
//@Html.ActionLink("preview", s, new { PageNum = (int)Html.ViewData["preview"] }, new { id = "preview" });
 @Html.Raw("&nbsp;");
    }
    if ((int)Html.ViewData["next"] != -1)
    {
            @Html.link("next", "next","Home", s, Request, (int)Html.ViewData["next"]);

}

}
 <div style="height:300px;width:300px; display:none" id="notification">
      <ul>
          <li><input type="checkbox"   id="sostoinie"  /> Изменение состояния   </li>
            <li><input type="checkbox"   id="status"  /> Изменение статуса   </li>
            <li><input type="checkbox"   id="sendtouser"  /> Передача пользователю  </li>
            <li><input type="checkbox"   id="sendedtouser"  /> Принятие заявки   </li>
          
           
      </ul>
  </div>
