﻿@using tp.ServiceReference1
@using tp.Controllers
@using tp.special;



@Scripts.Render("~/Scripts/main_websocket.js")
@Scripts.Render("~/Scripts/anim.js")

@{
    string s = ViewData["type"].ToString();
    object hh=null;

    if (s=="Mytp")
    {
        hh=new object();
    }
        
}
    
<script type="text/javascript">
    var urlhome = '@(Url.Action("Index","Home"))';
    var urltake = '@(Url.Action("take"))';
    var urldetail = '@(Url.Action("detail","Detail"))';
    var urlsendtp = '@(Url.Action("get_sending_tp","Home"))';
    var urlisvalidation = '@(Url.Action("isvalidation","Home"))';
  
    function update_table(type, element) {
        
   


        $('newstp').attr('sorted', element);
        var h = $('#' + element);
        var asc_desc = h.attr('asc_desc');
        if (asc_desc == "asc")
            h.attr('asc_desc', 'desc');
        else
            h.attr('asc_desc', 'asc');
        $.ajax({
            url: "/Home/Update?type="+type+"&asc_desc="+asc_desc, success: function (result) {
                var help = $('#newstp tbody');
                $('#newstp tbody tr').remove();
                for (var h = 0; h < result.length; h++) {
                    help.append(' <tr id=' + result[h].id + '> <td> <a href="' + result[h].id + '" >Подробно </a></td><td>' + result[h].sostoinie + '</td><td>' + result[h].schema + '</td><td>' + result[h].state_name + '</td><td>' + result[h].user + '</td></tr>');
                }

            }
        })
    };
    

</script>

@model List<zaivka>
@{
    tp.Models.findObject ff = ViewData["filter"] as tp.Models.findObject;
}
  <div style="clear:both;overflow:hidden;">
       <ul class="solidblockmenu">
            <li>
                @Html.ActionLink("Технические процессы", "Index", "Home", new { id = "tp"  })
            </li>
<li><a   class="news" id="news">Новые технические процессы</a></li>
           <li>@Html.ActionLink("Мои техпроцесс", "Mytp", "Home")</li>
            <li><a class="news" id="get_sending_zaivki">Принять техпроцесс</a></li>
               <li>@Html.ActionLink("Создать техпроцесс","Index", "New_zaivka" )</li>
        </ul>
   </div>
<div>
  
   @Html.Partial("_Find", ff, new ViewDataDictionary { { "way",Url.Action("filter","Home") }, { "action", s },{"isusers",hh },{"isusersend",true}})
         


</div>
<table sorted="sostoine"  id="newstp" class="table" style="display:none">
<thead>
    <th  >Подробности</th>
    <th id="newtp_sostoinie" asc_desc="asc" onclick="update_table('состояние','newtp_sostoinie')">Состояние</th>
       
    <th id="newtp_schema" asc_desc="asc" onclick="update_table('схема','newtp_schema')">Схема</th>
         <th id="newtp_status" asc_desc="asc" onclick="update_table('статус','newtp_status')">Статус</th>
        <th id="newtp_user" asc_desc="asc" onclick="update_table('пользователь','newtp_user')">Пользователь</th>
     
    </thead>
     <tbody></tbody>
</table>

<table sorted="sostoine"  id="sending_zaivki" class="table" style="display:none">
<thead>
    
    <th id="send_sostoinie" asc_desc="asc" onclick="update_table('состояние','newtp_sostoinie')">Состояние</th>
       
    <th id="send_schema" asc_desc="asc" onclick="update_table('схема','newtp_schema')">Схема</th>
         <th id="send_status" asc_desc="asc" onclick="update_table('статус','newtp_status')">Статус</th>
        <th id="send_user" asc_desc="asc" onclick="update_table('пользователь','newtp_user')">Пользователь</th>
     <th  >Подробности</th>
    <th>Принять</th>
    </thead>
     <tbody></tbody>
</table>




<table id="table" class="table">
      <thead>
    
    <th>Состояние</th>
       
    <th>Схема</th>
         <th>Статус</th>
        <th>Пользователь</th>
     <th>Подробно</th>

    </thead>
    
    
    @foreach (zaivka z in Model)
    {
        <tr id=@z.id>
           
            <td >@z.state_name</td>
            
            <td>@z.schema</td>
            <td>@z.current_status</td>
            <td><a href="javascript:getdetail('@z.current_login')">@z.current_login</a> </td>
             <td>@Html.ActionLink("Подробно", "detail", "Detail", new { number = z.id }, new { target = "_blank" })</td>

        </tr>
    }
    </table>

@{
    
   
     
    if ((int)Html.ViewData["preview"] != -1)
    {
      @Html.link("preview", "preview","Home", s, Request, (int)Html.ViewData["preview"]);
//@Html.ActionLink("preview", s, new { PageNum = (int)Html.ViewData["preview"] }, new { id = "preview" });
 @Html.Raw("&nbsp;");
    }
    if ((int)Html.ViewData["next"] != -1)
    {
            @Html.link("next", "next","Home", s, Request, (int)Html.ViewData["next"]);

}

}
 

