﻿@using tp.special;
@using tp;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka
@{
    
    InMeta.Session session =tp.HelpDevelopInmetaClass.isogd;
    InMeta.Perm.ConstrPermBegunok КомплектДокументов = (InMeta.Perm.ConstrPermBegunok)session.Perm_ConstrPermBegunok.GetObject(new Integro.InMeta.Runtime.DataId(Model.fields["КомплектДокументов"].value));

   string texterror= Ппрзconfigur.Проверить_бегунок(КомплектДокументов);
   if (texterror == "")
   {
       texterror = "Комплектность полная";
   }
}
Результат анализа
<div style="position:relative; height:100%;min-height:320px;">

     @if (TempData["error"] != null)
    {
       @(TempData["error"])
    }
<textarea style="width:400px;height:200px">@texterror</textarea>
 <div style="clear:both;position:absolute; bottom:0px">
          <p>@Html.ActionLink("Перейти к анализу возможности выдачи разрешения ", "Перейтиканализувозможностивыдачиразрешения" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
         <p>
<a href='@Url.Action("Перейтикформированиюотказа","Технологическийпроцессподготовкиразрешениянастроительство")' >Перейти к формированию отказа </a></p>
         </div>
    </div> 