﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka
<div style="position:relative; height:100%;min-height:320px;">
     @if (TempData["error"] != null)
    {
       @(TempData["error"])
    }
        
     <div style="clear:both;position:absolute; bottom:0px">
          <p>@Html.ActionLink("Перейти к подготовке разрешения", "Перейтикподготовкеразрешения" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
      <p>@Html.ActionLink("Перейти к формированию отказа", "Перейтикформированиюотказа2" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
     
         </div> 
    </div>
