﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka

<form id="Form1" name="Form1" action="@Url.Action("Добавить_замечание","Технологическийпроцессподготовкиразрешениянастроительство")" method="post" style="position:relative; height:100%;min-height:320px;">
    
    <table>
    <tr> 
        <td>Содержание замечания</td>
        <td>
            <input name="СодержаниеЗамечания" />
        </td>
    </tr>
    
         
         
        <tr> 
        <td>Примечание</td>
        <td>
            <input name="Примечание" />
        </td>
    </tr> 
</table>
     <div style="clear:both;position:absolute; bottom:0px">
          <p>@Html.ActionLink("Ответ согласован", "Ответ_согласован" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
           <input type="submit" value="Добавить замечание" /> 
          
           <p>@Html.ActionLink("Удалить все замечания", "Удалить_все_замечания" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
  
         </div> 
    </form>
  


