﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka
<form id="Form1" name="Form1" method="post" action="~/Технологическийпроцессподготовкиразрешениянастроительство/setValue"  style="position:relative; height:100%;min-height:320px;">
    @if (TempData["error"] != null)
    {
       @(TempData["error"])
    }
    @{
        
        Dictionary<string, string> list = new Dictionary<string, string>();
        list.Add("Constr/Building", "Здание");
        list.Add("Constr/LineConstructionObject","Строение");
          list.Add("Constr/UnderConstruction", "Сооружение");
        list.Add("Constr/Structure","Объект незавершенного строительства");
         list.Add("Constr/Barn","Линейный объект капитального строительства");
        string h = (Model.fields["ОбъектЗастройки"] == null) ? null : Model.fields["ОбъектЗастройки"].value;
        if (h!=null)
        {
        h +=":"+((Model.fields["ОбъектЗастройки"] == null) ? null : Model.fields["ОбъектЗастройки"].type);
        }
        
        Html.ingeo(h, "ОбъектЗастройки", list, "inline", "gradvisionisogd", "Технологическийпроцессподготовкиразрешениянастроительство", "setValue",
            new Dictionary<string, string> { { "Constr/Building", "Name" }, { "Constr/LineConstructionObject", "Name" }, { "Constr/UnderConstruction", "Name" }, { "Constr/Structure", "Name" }, { "Constr/Barn", "Name" } });
    }
    @{
    string help="send?number="+@Model.id.ToString();
    } 
   
        
     <div style="clear:both;position:absolute; bottom:0px">
          <p>@Html.ActionLink("Данные об объекте застройки заполнены", "Данные_об_объекте_застройки_заполнены" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
        
         </div> 
    </form>
