﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka
<script>


    function commitchanges(key) {
        var current = $("#" + key.id+" option:selected");

        var h = $("#" + key.id + "val");
        h.attr("value",current[0].id);

    }

  

</script>

     @if (TempData["error"] != null)
    {
       @(TempData["error"])
    }
<form id="Form1" name="Form1" action="@Url.Action("ДалееПерейтикопределениюкомплектадокументов","Технологическийпроцессподготовкиразрешениянастроительство")" method="post" style="position:relative; height:100%;min-height:320px;">
    <table>
    <tr> 
        <td>Наименование объекта</td>
        <td>
            <input name="nameobject" />
        </td>
    </tr>
    <tr>
        <td>
Район города
        </td>
        <td>
             @{
        Dictionary<string, string> list = new Dictionary<string, string>();
        list.Add("General/SubRgn","Район города");

        string h = (Model.fields["РайонГорода_"] == null) ? null : Model.fields["РайонГорода_"].value;
        if (h != null)
        {
            h += ":" + ((Model.fields["РайонГорода_"] == null) ? null : Model.fields["РайонГорода_"].type);
        }
        Html.ingeo(h, "РайонГорода_", list, "none", "gradvisionisogd", "Технологическийпроцессподготовкиразрешениянастроительство", "setValue", new Dictionary<string, string> { { "General/SubRgn", "Name" } },new List<string>());
    }
           
        </td>
    </tr>
         <tr> 
        <td>Адресная привязка</td>
        <td>
            <input name="address" />
        </td>
    </tr>
         <tr> 
        <td>Вид строительства</td>
        <td>
            @Html.list(ViewData["Вид_строительства_"] as Dictionary<string,string>,"","Вид_строительства_")
            
        </td>
    </tr>
        <tr> 
        <td>Вид работ</td>
        <td>
            @Html.list(ViewData["Вид_работ_"] as Dictionary<string,string>,"","Вид_работ_")
        </td>
    </tr>
        <tr> 
        <td>Со сносом</td>
        <td>
          <input type="radio" name="delete" />
        </td>
    </tr>
         <tr> 
        <td>С государственной экспертизой</td>
        <td>
          <input type="radio" name="expert" />
        </td>
    </tr>
         <tr> 
        <td>Кадастровый номер земельного участка</td>
        <td>
          <input name="zemli" />
        </td>
    </tr>
        <tr> 
        <td>ГПЗУ</td>
        <td>
           @Html.list(ViewData["ГПЗУ_"] as Dictionary<string,string>,"","ГПЗУ_")
        </td>
    </tr>
  
       


  
</table>
    <div style="clear:both;position:absolute; bottom:0px">
  <input type="submit" value="Перейти к определению комплекта документов" />
  
        </div>
    </form>