﻿  <form id="Form1" name="Form1" action="@Url.Action("Данные_о_стадии_градостроительного_изменения_заполнены","Технологическийпроцессподготовкиразрешениянастроительство")" method="post" style="position:relative; height:100%;min-height:320px;">

  


<table>
    <tr> 
        <td>Номер этапа</td>
        <td>
            <input name="НомерЭтапа" value="@ViewData["НомерЭтапа"]" />
        </td>
    </tr>
          <tr> 
        <td>Название Этапа</td>
        <td>
            <input name="НазваниеЭтапа" value="@ViewData["НазваниеЭтапа"]" />
        </td>
    </tr>
      <tr> 
        <td>Номер Очереди</td>
        <td>
            <input name="НомерОчереди" value="@ViewData["НомерОчереди"]" />
        </td>
    </tr>
          <tr> 
        <td>Название Очереди</td>
        <td>
            <input name="НазваниеОчереди" value="@ViewData["НазваниеОчереди"]" />
        </td>
    </tr>
      <tr> 
        <td>Номер Пускового Комплекса</td>
        <td>
            <input name="НомерПусковогоКомплекса" value="@ViewData["НомерПусковогоКомплекса"]" />
        </td>
    </tr>
          <tr> 
        <td>Название Пускового Комплекса</td>
        <td>
            <input name="НазваниеПусковогоКомплекса" value="@ViewData["НазваниеПусковогоКомплекса"]" />
        </td>
    </tr>
      <tr> 
        <td>Всего Этапов</td>
        <td>
            <input name="ВсегоЭтапов" value="@ViewData["ВсегоЭтапов"]" />
        </td>
    </tr>
          <tr> 
        <td>Всего Очередей</td>
        <td>
            <input name="ВсегоОчередей" value="@ViewData["ВсегоОчередей"]" />
        </td>
    </tr>
      <tr> 
        <td>Всего Пусковых Комплексов</td>
        <td>
            <input name="ВсегоПусковыхКомплексов" value="@ViewData["ВсегоПусковыхКомплексов"]"/>
        </td>
    </tr>
         </table>
      <div style="clear:both;position:absolute; bottom:0px">
  <input type="submit" value="Данные о стадии градостроительного изменения заполнены" />
  
        </div>
      
      </form>