﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka
<form id="Form1" name="Form1" method="post" action="~/Технологическийпроцессподготовкиразрешениянастроительство/setValue"  style="position:relative; height:100%;min-height:320px;">
    @if (TempData["error"] != null)
    {
       @(TempData["error"])
    }
    @{
        
        Dictionary<string, string> list = new Dictionary<string, string>();
        list.Add("Perm/ProjectTEP", "Здание");

        string h = (Model.fields["ПроектныеХарактеристики"] == null) ? null : Model.fields["ПроектныеХарактеристики"].value;
        if (h!=null)
        {
            h += ":" + ((Model.fields["ПроектныеХарактеристики"] == null) ? null : Model.fields["ПроектныеХарактеристики"].type);
        }
     
        Html.ingeo(h, "ПроектныеХарактеристики", list, "none", "gradvisionisogd", "Технологическийпроцессподготовкиразрешениянастроительство", "setValue",
            new Dictionary<string, string> { { "Perm/ProjectTEP", "SystemView" } });
    }
    @{
    string help="send?number="+@Model.id.ToString();
    } 
   
        
     <div style="clear:both;position:absolute; bottom:0px">
          <p>@Html.ActionLink("Данные об объекте застройки заполнены", "Данные_об_объекте_застройки_заполнены2" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
         
         </div> 
    </form>
