﻿<div style="position:relative; height:100%;min-height:320px;">
    <div style="clear:both;position:absolute; bottom:0px">
     <p>@Html.ActionLink("Завершить технологический процесс", "Завершить_технологический_процесс" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
         <p>@Html.ActionLink("Подготовить ответ заявителю о результатах процесса", "Подготовить_ответ_заявителю_о_результатах_процесса" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
         </div>
   </div>
