﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka

<form id="Form1" name="Form1" action="~/Технологическийпроцессподготовкиразрешениянастроительство/setValue" method="post" style="position:relative; height:100%;min-height:320px;">
      @if (TempData["error"] != null)
    {
       @(TempData["error"])
    }
     @{
        Dictionary<string, string> list = new Dictionary<string, string>();
        list.Add("Perm/ConstrPermBegunok", "Комплект документов");

        string h = (Model.fields["КомплектДокументов"] == null) ? null : Model.fields["КомплектДокументов"].value;
        if (h != null)
        {
            h += ":" + ((Model.fields["КомплектДокументов"] == null) ? null : Model.fields["КомплектДокументов"].type);
        }
        Html.ingeo(h, "КомплектДокументов", list, "none", "gradvisionisogd", "Технологическийпроцессподготовкиразрешениянастроительство", "setValue", new Dictionary<string, string> { { "Perm/ConstrPermBegunok", "RegNo" } });
    }
    <div style="clear:both;position:absolute; bottom:0px">
    <a href='@Url.Action("Перейтиканализукомплектностидокументов","Технологическийпроцессподготовкиразрешениянастроительство")' >Перейти к анализу комплектности документов к регистрации заявления</a></p>
         </div> 
    </form>

