﻿
<div style="position:relative; height:100%;min-height:320px;">
    <div style="clear:both;position:absolute; bottom:0px">
          <p>@Html.ActionLink("Ответ и сопутствующие материалы переданы Заявителю", "ОтветисопутствующиематериалыпереданыЗаявителю" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
      <p>@Html.ActionLink("Завершить процесс", "Завершитьпроцесс" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
     
         </div> 
    </div>