﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka
 @Styles.Render("~/Content/jquery-ui.css") 
@Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")
@{
    string helppartial = ((DateTime)ViewData["Дата_формирования_разрешения"]).Date.ToString("dd/MM/yy");
  
}
<script>
    $(function () {
        $("#datepicker1").datepicker({
        dateFormat: 'dd/MM/yy' });
        $("#datepicker1").datepicker("setDate", "@helppartial");
    });

    function commitchanges(key) {
        var current = $("#" + key.id+" option:selected");

        var h = $("#" + key.id + "val");
        h.attr("value",current[0].id);

    }

  

</script>
<form id="Form1" name="Form1" action="@Url.Action("Перейти_к_формированию_проекта_разрешения","Технологическийпроцессподготовкиразрешениянастроительство")" method="post" style="position:relative; height:100%;min-height:320px;">
    <table>
    <tr> 
        <td>Срок действия разрешения в месяцах</td>
        <td>
            <input name="Срок_действия_разрешения_в_месяцах" />
        </td>
    </tr>
          <tr> 
        <td>Срок действия разрешения в днях</td>
        <td>
            <input name="Срок_действия_разрешения_в_днях" />
        </td>
    </tr>
    <tr>
        <td>
Краткие характеристики объекта
        </td>
        <td>
        <textarea name="Краткие_характеристики_объекта">@ViewData["Краткие_характеристики_объекта"]</textarea>
           
        </td>
    </tr>
         <tr> 
        <td>Краткие характеристики стадии</td>
        <td>
            <textarea name="Краткие_характеристики_стадии" >@ViewData["Краткие_характеристики_стадии"]</textarea>
        </td>
    </tr>
         <tr> 
        <td>Дата формирования разрешения</td>
        <td>
           <input id="datepicker1" name="Дата_формирования_разрешения" />
          
        </td>
    </tr>
        <tr> 
        <td>За подписью</td>
        <td>
             @Html.list(ViewData["За_подписью_"] as Dictionary<string,string>,ViewData["За_подписью_current"].ToString(),"За_подписью_")
           
        </td>
    </tr>
        
          
      
    
  
       


  
</table>
    <div style="clear:both;position:absolute; bottom:0px">
  <input type="submit" value="Перейти к формированию проекта разрешения" />
  
        </div>
    </form>
