﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka
<form id="Form1" name="Form1" action="@Url.Action("setValue","Технологическийпроцессподготовкиразрешениянастроительство")" method="post" style="position:relative; height:100%;min-height:320px;">
    Ответ
    @{
        Dictionary<string, string> list = new Dictionary<string, string>();
        list.Add("General/OutLetter", "Ответ");

        string h = (Model.fields["УведомлениеОтказ"] == null) ? null : Model.fields["УведомлениеОтказ"].value;
        if (h != null)
        {
            h += ":" + ((Model.fields["УведомлениеОтказ"] == null) ? null : Model.fields["УведомлениеОтказ"].type);
        }
        Html.ingeo(h, "УведомлениеОтказ", list, "none", "gradvisionisogd", "Технологическийпроцессподготовкиразрешениянастроительство", "setValue", new Dictionary<string, string> { { "General/OutLetter", "Recorder" } });
    }
    @{
    string help="send?number="+@Model.id.ToString();
    } 
   
        
     <div style="clear:both;position:absolute; bottom:0px">
          <p>@Html.ActionLink("Ответ с замечаниями подготовлен", "Ответсзамечаниямиподготовлен" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
     
         </div> 
    </form>
