﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka

<form action="@Url.Action("ДобавитьЗамечание","Технологическийпроцессподготовкиразрешениянастроительство")" method="post" style="position:relative; height:100%;min-height:320px">
@Html.IsError(TempData["error"]==null ? "":TempData["error"].ToString() )

<table>
    <tr> 
        <td>Замечания по заявлению</td>
        <td>
            <input name="zamechanie" />
        </td>
    </tr>
    <tr>
        <td>
Примечание
        </td>
        <td>
            <input name="primechanie" />
        </td>
    </tr>
    <tr>
        <td><input type="submit" value="Добавить замечание" /></td>
    </tr>
</table>
   <div style="clear:both;position:absolute; bottom:0px">
    @Html.ActionLink("Все замечания указаны","Всезамечанияуказаны","Технологическийпроцессподготовкиразрешениянастроительство")
       <br />
   @Html.ActionLink("Заявление подготовлено правильно и все необходимые материалы приложены ","Заявлениеподготовленоправильноивсенеобходимыематериалыприложены","Технологическийпроцессподготовкиразрешениянастроительство")
   <br />
       @Html.ActionLink("Удалить все замечания","Удалитьвсезамечания","Технологическийпроцессподготовкиразрешениянастроительство")
        </div>
      </form>
   
 
  