﻿


@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka
 @Styles.Render("~/Content/jquery-ui.css") 
@Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")
@{
    string helppartial = ((DateTime)ViewData["Дата_разрешения"]).Date.ToString("dd/MM/yy");
  
}
<script>
    $(function () {
        $("#datepicker1").datepicker({
        dateFormat: 'dd/MM/yy' });
        $("#datepicker1").datepicker("setDate", "@helppartial");
    });
    </script>
<form id="Form1" name="Form1" action="@Url.Action("Перейти_к_выдаче_разрешения","Технологическийпроцессподготовкиразрешениянастроительство")" method="post" style="position:relative; height:100%;min-height:320px;">
    <table>
    <tr> 
        <td>Номер разрешения</td>
        <td>
            <input name="Номер_разрешения" value="@ViewData["Номер_разрешения"]" />
        </td>
    </tr>
    <tr>
        <td>
Дата разрешения
        </td>
        <td>
           <input name="Дата_разрешения" id="datepicker1" />  
           
        </td>
    </tr>
         
  
       


  
</table>
    <div style="clear:both;position:absolute; bottom:0px">
  <input type="submit" value="Перейти к определению комплекта документов" />
  
        </div>
    </form>
