﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka

<form id="Form1" name="Form1" method="post" action="@Url.Action("setValue","Технологическийпроцессподготовкиразрешениянастроительство")"  style="position:relative; height:100%;min-height:320px;">
    @if (TempData["error"] != null)
    {
       @(TempData["error"])
    }
    @{
        Dictionary<string, string> list = new Dictionary<string, string>();
        list.Add("Subject/Org","Организация");
        list.Add("Subject/Person","Физическое лицо");
        string h = (Model.fields["заявитель"] == null) ? null : Model.fields["заявитель"].value;
        if (h!=null)
        {
        h +=":"+((Model.fields["заявитель"] == null) ? null : Model.fields["заявитель"].type);
        }
        Html.ingeo(h, "заявитель", list, "inline", "gradvisionisogd", "Технологическийпроцессподготовкиразрешениянастроительство", "setValue", new Dictionary<string, string> { { "Subject/Org", "Name" }, { "Subject/Person", "FirstName" } },new List<string>());
    }
    @{
    string help="send?number="+@Model.id.ToString();
    } 
   
        
     <div style="clear:both;position:absolute; bottom:0px">
          <p>@Html.ActionLink("Добавить заявителя", "Добавить_еще_одного_заявителя" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
         <p>
<a href='@Url.Action("Регистрациязаявителя","Технологическийпроцессподготовкиразрешениянастроительство")' >Перейти к регистрации заявления</a></p>
         </div> 
    </form>
  

