﻿ @Styles.Render("~/Content/jquery-ui.css") 
@Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")

<script>
  $(function() {
      $("#datepicker1").datepicker({ dateFormat: 'dd-MM-yy' });
      $("#datepicker2").datepicker({ dateFormat: 'dd-MM-yy' });
  });
  </script>
<form action="@Url.Action("Регистрациязаявлениявсистеме","Технологическийпроцессподготовкиразрешениянастроительство")" method="post">


<table>
    <tr> 
        <td>Исходящий номер</td>
        <td>
            <input name="outputnumber"  />
        </td>
    </tr>
    <tr>
        <td>
Дата отправления Исх
        </td>
        <td>
            <input name="datasend" id="datepicker1" />
        </td>
    </tr>
   <tr> 
        <td>Входящий номер</td>
        <td>
            <input name="inputnumber" />
        </td>
    </tr>
    <tr>
        <td>
Дата регистрации
        </td>
        <td>
            <input name="dataregistration" id="datepicker2" />
        </td>
    </tr>
</table>
    <input type="submit" value="Далее" />
</form>