﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka
<form id="Form1" name="Form1" action="@Url.Action("setValue","Технологическийпроцессподготовкиразрешениянастроительство")" method="post" style="position:relative; height:100%;min-height:320px;">
    <table style="width:100%">
        <tr >
            <td style="width:15%">
    Электронные копии документов по заявлению
                </td>
            <td>
    @Html.ingeoattachedfiles("General/Letter",Model.fields["заявление"].value , "gradvisionisogd")
                </td>
   </tr>
        <tr >
            <td style="width:15%"> Заявление</td>
            <td> @{
        Dictionary<string, string> list = new Dictionary<string, string>();
        list.Add("General/Letter", "test");
        
        string h = (Model.fields["заявление"] == null) ? null : Model.fields["заявление"].value;
        h += ":General/Letter";
        Html.ingeo(h, "заявление", list, "none", "gradvisionisogd", "Технологическийпроцессподготовкиразрешениянастроительство", "setValue", new Dictionary<string, string> { { "General/Letter", "LetterTheme" } },new List<string>{"Создать","Выбрать","Очистить"});
    }</td>
        </tr>
   
   
        </table>
        <div style="clear:both;position:absolute; bottom:0px">
<a href='@Url.Action("CканированиеиразмещениеприлагаемыхкЗавлениюдокументов","Технологическийпроцессподготовкиразрешениянастроительство")' > 
Заявление и прилагаемые к нему документы отсканированы и размещены в системе</a> 
            </div>
</form>
