﻿<div style="position:relative; height:100%;min-height:320px;">
    <div style="clear:both;position:absolute; bottom:0px">
     <p>@Html.ActionLink("Проставление реквизитов разрешения", "Перейти_к_проставлению_реквизитов_разрешения" , "Технологическийпроцессподготовкиразрешениянастроительство")</p>
         </div>
   </div>
