﻿@using tp.special;
@using tp.Controllers;
@using tp.ServiceReference1;
@model tp.ServiceReference1.zaivka

<form id="Form1" name="Form1" action="@Url.Action("Перейти_к_выдаче_отказа","Технологическийпроцессподготовкиразрешениянастроительство")" method="post" style="position:relative; height:100%;background-color:red;min-height:320px">
     @if (TempData["error"] != null)
    {
       @(TempData["error"])
    }
  <script>
      function commitchanges(key) {
          var current = $("#" + key.id + " option:selected");

          var h = $("#" + key.id + "val");
          h.attr("value", current[0].id);

      }
  </script>


<table>
    <tr> 
        <td>Не полный комплект документов</td>
        <td>
            <input name="Не_полный_комплект_документов_" type="checkbox" value="@ViewData["Не_полный_комплект_документов_"]" />
        </td>
    </tr>
          <tr> 
        <td>Не соответствует наименование объекта</td>
        <td>
            <input name="Не_соответствует_наименование_объекта_" type="checkbox" value="@ViewData["Не_соответствует_наименование_объекта_"]" />
        </td>
    </tr>
      <tr> 
        <td>Место размещение объекта по проекту не соответствует месту допустимого размещения согласно ГПЗУ</td>
        <td>
            <input name="Место_размещение_объекта_по_проекту_не_соответствует_месту_допустимого_размещения_согласно_ГПЗУ_" type="checkbox" value="@ViewData["Место_размещение_объекта_по_проекту_не_соответствует_месту_допустимого_размещения_согласно_ГПЗУ_"]" />
        </td>
    </tr>
          <tr> 
        <td>Количество этажей или высота превышает предельно допустимое значение</td>
        <td>
            <input name="Количество_этажей_или_высота_превышает_предельно_допустимое_значение_" type="checkbox" value="@ViewData["Количество_этажей_или_высота_превышает_предельно_допустимое_значение_"]" />
        </td>
    </tr>
      <tr> 
        <td>Превышен предельный процент застройки земельного участка</td>
        <td>
            <input name="Превышен_предельный_процент_застройки_земельного_участка_" type="checkbox" value="@ViewData["Превышен_предельный_процент_застройки_земельного_участка_"]" />
        </td>
    </tr>
          <tr> 
        <td>Отсутствие у департамента полномочий по выдаче разрешения на строительство на данном земельном участке</td>
        <td>
            <input name="Отсутствие_у_департамента_полномочий_по_выдаче_разрешения_на_строительство_на_данном_земельном_участке_" type="checkbox" value="@ViewData["Отсутствие_у_департамента_полномочий_по_выдаче_разрешения_на_строительство_на_данном_земельном_участке_"]" />
        </td>
    </tr>
      <tr> 
        <td>За подписью</td>
        <td>
            @Html.list(ViewData["За_подписью_"] as Dictionary<string,string>,ViewData["За_подписью_current"].ToString(),"За_подписью_")
        </td>
    </tr>
         
      
         </table>
      <div style="clear:both;position:absolute; bottom:0px">
  <input type="submit" value="Перейти к выдаче отказа" />
  
        </div>
      
      </form>
