﻿html {
    padding:0;
    margin:0;
    height:100%;
    min-height:500px;
}
body
{
      padding:0;
    margin:0;
    height:100%;
   min-height:500px;
   min-width:1000px;
  background-color:#efeeef;
}
/*стили для меню техпроцессов*/

.solidblockmenu {
margin : 0;
padding : 0;
float : left;
font : bold 12px Arial;
width : 100%;
border : 1px solid #113523;
border-width : 1px 0;

}
.solidblockmenu li {
display : inline;
}
.solidblockmenu li a {
float : left;
color : black;
padding : 9px 10px;
text-decoration : none;
border-right : 1px solid #24714A;
width:14%;
font-size:1.2em;
}

.solidblockmenu li a:hover, .solidblockmenu li .current {
    cursor:pointer;
color : #B5E6CD;
background: #6B5D5D;
}

.img01 {
padding:20px 0 0 10px;
}	
/*стили для главного меню*/
.solidblockmenu1 {
margin : 0;
padding : 0;
float : left;
font : bold 12px Arial;
width : 100%;
border : 1px solid #113523;
border-width : 1px 0;
border-radius:1px;
    background: #444;
}
.solidblockmenu1 li {

display : inline;
}
.solidblockmenu1 li a {
float : left;
color : #C9EDDB;
padding : 9px 10px;
text-decoration : none;
border: 1px solid grey;
border-radius:2px;
width:30%;
text-align:center;
font-size:1.2em;
}

.solidblockmenu1 li a:hover, .solidblockmenu li .current {
color : black;

}
.detailul li
{
    list-style-type:none;
   
    padding:0.2em;
}
#news {
    
float : left;
color : black;
padding : 9px 10px;
text-decoration : none;
border-right : 1px solid #24714A;
width:25%;
text-align:center;
}
#news:hover, .solidblockmenu li .current {
color : #B5E6CD;
background: #6B5D5D;
cursor:pointer;
}

#login_div {
  
  background: #444;
    display: block;
    font-size:large;
   overflow:hidden;
   color:white;
  
    text-align: right;
}
#login_div a {
    color:rgb(204, 203, 203);
text-decoration:solid;
}
#login_div li {

display: inline;
list-style: none;
}
    #login_div ul 
    {
        margin: 0;
        padding: 0;
    }
fieldset {
   color:blue;
   background-color:#c8c8c8;
    margin: 0;
    padding: 0;
}
   fieldset ol {
        padding: 0;
        list-style: none;
    }
   label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}
   .float-left {
    float: left;
    background-color: grey;
    width: 100%;
}
ul#menu li
{
      background: #3C538F url(top-menu-item.gif) 0 0 repeat-x;
   padding-left:20px;
    font-size:large;
    display:inline;
    list-style:none;
}


input,button
{
    border-radius:5px;
}

#loginform
{
    width: 100%;
    border: solid;
    margin-top: 20%;
    margin-left: 35%;
    max-width: 500px;
}



/*
Table Style - This is what you want
------------------------------------------------------------------ */
.table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.table a:active,
.table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.table {
    width:100%;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.table th {
	padding:11px 15px 12px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.table th:first-child{
	text-align: left;
	padding-left:20px;
}
.table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.table tr{
	text-align: center;
	padding-left:20px;
}
.table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.table tr td {
	padding:10px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.table tr:last-child td{
	border-bottom:0;
}
.table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}