﻿@model List<string>
<form action="~/New_zaivka/create" method="post">
<table style="border: 1px solid;
width: 400px;
margin-left: 30%;
margin-top: 10%;">
    <tr >
        <td style="text-align:center; background-color: grey;" colspan="2">Создание новой заявки </td>
    </tr>
      <tr >
        <td style="text-align:center">Выберите схему </td>
    </tr>
    <tr>
        
        <td>
            <select style="width: 100%;" name="schema" size="5">
                @foreach(string s in Model)
                {
                    <option>@s</option> 
                }
            </select>
        </td>
        </tr>
    <tr>
        <td align="center"><button type="submit">Создать</button></td>
    </tr>
</table>
    </form>