﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
         
  
   
</head>
<body>
   

@model tp.ServiceReference1.user
<div id="loginform">




  @using(Html.BeginForm("Login","Auth",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table style="width: 100%">
         <tr>
             <td colspan="2" style="text-align:center; background-color:#69c">Авторизация</td>
             

         </tr>
        <tr>
            <td>
                @Html.Label("Логин")
                </td>
             <td>
             
                @Html.TextBox("login")
           </td>
               
            
            </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.password,"Пароль")
                </td>
            <td>
                @Html.PasswordFor(m => m.password)
                </td>
                @Html.ValidationMessageFor(m => m.password)
            
         
        </tr>
        
        <tr >
            <td colspan="2"  align="right">
         <input type="submit" value="Вход" />
                </td>
      </tr>
    </table>
     
    }

     
   
    </div>
    </body>
    </html>